# Cursor Rules for My Health Project

# Introduction
Directory:


Allowed operations:
If you would like to do something that is not allowed, always mention that you would like to do a specific thing but you are not doing it 
because its not allowed. This way i can track those things and might adjust them.

python virtual environment:
- each module has its own environment. e.g youtube_summarizer has .venv

## 0. ALLOWED AND NOT OPERATIONS
- You are only allowed to use READ operations on all of our databases. You are NOT allowed to create, change, adjust anything in our databases.
- You are only allowed to use read operations in GCP. You are NOT allowed to update, change, delete, create anything in GCP.
- You are only allowed to run read operations with git. You are NOT allowed to delete, adjust, update anything git related.


## 1. ENV variables
For backend module "youtube_summarizer" you find those env variables in its .env:
PSQL_CONNECTION_STRING
OPENAI_API_KEY

## 2. Remote Services

1) PSQL
We have a psql database. You can connect to it using the PSQL_CONNECTION_STRING.
When i ask you to check some data then use the psql command in the terminal to query the database.

2) Google Cloud

## 3. Infrastructure
In the module "frontend" we have our frontend, including a node backend server.
We have the youtube_summarizer we have our youtube ETL and API.

If i ask you to start or to start the frontend use the start.sh script.


## 4. Feature Request
If i ask you to implement a feature or fix a bug:
First provide me a plan, how you would approach it.
If there are some things unclear ask me first. When asking use numbers for your questions so i can refer to them.
Only if i ask you to skip the plan you can start executing right away.
When i ask you to test the logic if possible always try to test it just by using terminal commands.
E.g when testing an api endpoint, sending a curl command.

# 5. Errors/Issues
Module import error:
- If you encounter a module import error dont do workarounds. Use the venv that i mentioned.
If i didnt mentioned or you cant find it stop the execution and let me know which module is missing. And which venv you are using.

# 6. Workarounds
Dont try to make not best practice work arounds. If i give you a request which forcecs you to do weird workarounds first ask me if we should continue with this workaround and suggest what kind of restructure/refactoring would be better.