# Cursor Rules for My Health Project

## 1. Feature requests

**CRITICAL: Make sure the files llm_features.txt and llm_architecture.txt always contain the current state. llm_features.txt should only contain user features and their status. llm_architecture.txt should only contain the high level architecture information.
Alwas follow the excecution plan mentioned below before implementing the feature.**

1. **Always read `llm_features.txt` and `llm_architecture.txt` first** - These files contain the complete architecture overview, all user features, their status, and technical requirements. They serve as the single source of truth for the project structure.

2. When i ask you to implement open features check the status of which features are "open" in llm_features.txt.

3. Execution plan:
0) First rewrite the feature that i created correcting grammar but keeping the logic of the sentences as it is. Just making it more easy to understand and read.
1) First always tell me which feature you plan to execute. Then i need to confirm.
2) Then provide me with a high level plan of what you would do. Also ask the most important questions which help you to implement it well.
3) I either just approve or provide some feedback and approve.
4) After the features is implemented restart the servers so i can see the results

4. **Update feature status** - After you implemented a feature update the status in llm_features.txt.

5. **Update old feature** - If we change anything related to already implemented features change the information in the llm_features.txt.

6. **Update architecture** - If we change anything related to the technical architecture change the information in the llm_architecture.txt.



## 2. Database
If I ask you to connect to my database read the .env file and use the value for the key "PSQL_CONNECTION_STRING".
Use it to connect to the database.
If i want you to query the database use just the terminal shell and psql commmand.
